<div ng-include="'components/navbar/navbar.html'"></div>

<header>
  <div class='well'>
    <p id='analyticsTop'><img src='http://www.gravatar.com/avatar/224933c5d7e5171922237129e871a583?d=404&s=250' id='profPic'><span style='margin-right:1.5em'></span>Welcome to your analytics dashboard!</p>
  </div>
</header>

<div class='group'>
  <section class='dashboardSection center boxText well'>
    <h3>Analytics Dashboard</h3>
    <hr>
    <section>
      <div class='row'>
<!--         <iframe class="lab-work-iframe" src="app/main/radialmenu.html" width="600" height="450" scrolling="no" frameborder='0'></iframe>
 --><table style='margin:auto'>
          <tr>
            <td></td>
            <td>
              <a href ng-show='showButtons' ng-click="showEmail = !showEmail" class="btn btn-primary btn-lg btn-default withripple animated zoomIn" data-toggle='popover'>Inbox Volume</a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan='3'></td>
          </tr>
          <tr>
            <td><a href ng-show='showButtons' ng-click="showWordVol = !showWordVol" class="btn btn-primary btn-lg btn-default withripple animated zoomIn" data-toggle='popover'>Word Volume</a></td>
            <td><a href ng-click='showButtons = !showButtons' class='btn btn-primary btn-lg btn-default animated zoomIn'>Dashboard Toggle</a></td>
            <td><a href ng-show='showButtons' ng-click="showEmailSent = !showEmailSent" class="btn btn-primary btn-lg btn-default withripple animated zoomIn" data-toggle='popover'>Sentiment Tone</a></td>
          </tr>
          <tr>
            <td><a href ng-show='showButtons' ng-click="showSentTime = !showSentTime" class="btn btn-primary btn-lg btn-default withripple animated zoomIn" data-toggle='popover'>Sentiment over Time</a></td>
            <td></td>
            <td>
        <a href ng-show='showButtons' ng-click="showTopKey = !showTopKey" class="btn btn-primary btn-lg btn-default withripple animated zoomIn" data-toggle='popover'>Top Keywords
        </a></td>
          </tr>
          <tr>
            <td></td>
            <td>     <a href ng-show='showButtons' ng-click="showEmailScatter = !showEmailScatter" class="btn btn-primary btn-lg btn-default withripple animated zoomIn" data-toggle='popover'>Email Scatter
        </a></td>
            <td></td>
          </tr>


        </table>
      </div>

    </section>
  </section>

    <section class='dashboardSection center boxText well' ng-hide='showEmail' >
        <div ng-controller="emailVolBarCtrl" class='animated zoomIn'>
           <h4>Inbox Volume</h4>
          <nvd3 options="options" data="data"></nvd3>
        </div>
  </section>

  <section class='dashboardSection center boxText well' ng-hide='showWordVol' >
        <div ng-controller="wordVolBarCtrl" class='animated zoomIn'>
          <h4>If your emails from this year were a novel, how long would it be?</h4>
          <nvd3 options="options" data="data"></nvd3>
        </div>
  </section>

    <section class='dashboardSection center boxText well' ng-hide='showEmailSent'  >
        <div ng-controller="sentPieChartCtrl" class='animated zoomIn'>
          <h4>Your email tone is mostly:</h4>
          <nvd3 options="options" data="data"></nvd3>
        </div>
    </section>

    <section class='dashboardSection center boxText well' ng-hide='showEmail' >
<!--         <div ng-hide='showSentTime' ng-controller="sentiLineChartCtrl" class='animated zoomIn'>
          <h4>Sentiment over time</h4>
          <nvd3 options="options" data="data"></nvd3>
        </div> -->

        <div ng-hide='showTopKey' ng-controller='KeywordChartCtrl' class='animated zoomIn'>
          <h4>Your top keywords</h4>
          <nvd3 options="options" data="data"></nvd3>
        </div>
      </section>

    <section class='dashboardSection center boxText well' ng-hide='showEmail' >
        <!--EMAIL SCATTER CHART -->
        <div ng-hide='showEmailScatter' ng-controller="emailScatterChartCtrl" class='animated zoomIn'>
          <h4>Your sent messages.  All of them.</h4>
          <nvd3 options="options" data="data" xAxisTickFormat="xAxisTickFormatFunction()"></nvd3>
        </div>
    </section>
    <section class='dashboardSection center boxText well' ng-hide='showEmail'>
        <div ng-controller="SentVsGotCtrl">
          <h4>Your last 1,000 emails: sent vs. received</h4>
          <h5>Starting at {{emails.bars.earliest}}, ending with {{emails.bars.latest}}</h5>
          <nvd3 options="options" data="data"></nvd3>
        </div>
    </section>
  </section>
</div>

  </section>
</div>

<div ng-include="'components/footer/footer.html'"></div>


