<!-- <div class="jumbotron">
  <div class="container center titleBlock">
    <h1>Gnitty</h1>
    <p>Visualize your Gmail</p>
  </div>
</div> -->
<section id="mainLogo" class="boxText titleBlock">
  <div>
  Gnitty
  <h4>Visualize your inbox</h4>
  </div>
</section>


  <div ng-controller="mainCarouselCtrl" class="carousel group">
    <div style="height: 305px" >
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}" style="margin:auto; opacity: 50%;">
          <div class="carousel-caption">
            <h4>Slide {{$index+1}}</h4>
            <h3>{{slide.text}}</h3>
          </div>
        </slide>
      </carousel>
    </div>
  </div>

  <div class="container">
    <div class="row landing-text">
      <h2>Chart your inbox</h2>
      <button ng-click="fetch()" ng-class="{'btn btn-primary btn-lg withripple disabled': clicked, 'btn btn-primary btn-lg withripple': !clicked}" id="goButton" button-disable>{{fetchBtnText}}</button>
    </div>
    <div class="row">
      <img class='imgMail animated bounceInRight' src='/assets/images/gmailicons.png' id='gmailIcon'/>

<!--     <div class="col-xs-12 col-sm-6">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Email Intelligence</h3>
        </div>
        <div class="panel-body">
          <br />
          <img class="displayed pull-right" src="/assets/images/email_icon.png" style="width:100px; height:100px" />
          <br />
          <p class="homeText">Pick out patterns, understand your inbox. Gnitty gets down to the nitty-gritty of your last 1,000 Gmail messages.</p>
        </div>
      </div>-->
<!--     </div> -->
    </div>
  </div>
<!--     <div class="col-xs-12 col-sm-6">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Free, Easy, Secure</h3>
        </div>
        <div class="panel-body">
          <br />
          <img class="displayed pull-right" src="/assets/images/security_user_shield_icon.png" style="width:100px; height:100px" />
          <br />
          <p class="homeText">Authenticated through Google, meaning you remain in control. Gnitty processes your mail in the browser, saving nothing. We do not use or share your data except for a short anonymous text-snippet used to glean your keywords.</p>
        </div>
      </div>
    </div> -->

  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>
