html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
    font-family: 'Roboto', sans-serif;
    background-color: #ddd;
    -webkit-transition: all 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -o-transition: all 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        transition: all 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgba(0,0,0,0.5);
    padding-top: 15px;
    letter-spacing: 0.1em;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.center {
     text-align: center;
}

/*
  ========================================
  Navigation Bar
  ========================================
*/

.navbar {
    background-color: #4285f4;
    height: 75px;
    padding-top: 20px;
}

.navbar-default .navbar-brand {
     color: rgba(255,255,255,.84);

}

.navbar-default .navbar-nav > li > a {
    color: rgba(255,255,255,.84);
    font-size: 1.25em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: rgba(255,255,255, 0);
}

/*
  ========================================
  Home
  ========================================
*/

.jumbotron {
  height: 300px;
  background: #696969 url("/assets/images/dotHeader.png") left top;
  color: white;
}

.titleBlock {
  margin-top: 75px;
  background: rgba(0,0,0,0.4);
}

.divider {
    width: 100%;
    height: 5px;
    background-color: rgba(0,0,0,.75);
}

.boxText {
    border-radius: 3px;
    -moz-box-shadow: 0px 0px 16px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 16px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 16px 0 rgba(0, 0, 0, 0.5);
    padding-bottom: 35px;
    margin-bottom: 20px;
}

#goButton {
  font-size: 2em;
  padding: 10px 25px;
}

#landingText {
    padding: 50px;
    width: 50%;
    border-radius: 15px;
    display: inline-block;
}

.imgMail {
    margin-left: 100px;
    margin-bottom: 100px;
    -webkit-animation-delay: 0.5s; /* Chrome, Safari, Opera */
    animation-delay: 0.5s;
    -webkit-transition: all 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition: all 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

.bar {
  -webkit-transition: width 1.0s ease !important;
     -moz-transition: width 1.0s ease !important;
       -o-transition: width 1.0s ease !important;
          transition: width 1.0s ease !important;
}

/*
  ========================================
  Dashboard
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

.dashboardAside {
  float: left;
  margin: 0 1.5%;
  width: 30%;
  display: block;

}

.dashboardSection {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 20px;
}

.barGraph {
    display: inline-block;
}

.table {
    width: 100%;
}

#profPic {
  border-radius: 100%;
  width: 75px;
  height: 75px;
}

#analyticsTop {
  font-size: 3em;
}

/*
  ========================================
  Login / Register
  ========================================
*/

.regBox {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}


/*
  ========================================
  Dash Selector
  ========================================
*/

label {
  font-size: 1.5em;
  margin-right: 30px;
}

table {
  border-collapse: collapse;
}
th,
td {

  padding: 10px 30px;
}





