<div ng-include="'components/navbar/navbar.html'"></div>

<div class='regBox'>
  <div class="well bs-component">
      <form class="form-horizontal" name="form" ng-submit="register(form)" novalidate>
          <fieldset>
              <legend><h3>Register</h3></legend>

                  <br>
              
       <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label for="inputName" class="col-lg-2 control-label">Name</label>
              <div class="col-lg-10">
                <div class="form-control-wrapper">
                  <input type="text" name='name' class="form-control empty" id="inputName" placeholder="Name"><span class="material-input" ng-model='user.name' required></span>
                  <p class="help-block" ng-show="form.name.$error.required && submitted">
                      A name is required
                    </p>
                </div>
            </div>
            </div>


      <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <div class="form-control-wrapper">
                  <input type="email" name='email' class="form-control empty" id="inputEmail" placeholder="Email"><span class="material-input" ng-model='user.email' required mongoose-error></span>
                      <p class="help-block" ng-show="form.email.$error.email && submitted">
                        Doesn't look like a valid email.
                      </p>
                      <p class="help-block" ng-show="form.email.$error.required && submitted">
                        What's your email address?
                      </p>
                      <p class="help-block" ng-show="form.email.$error.mongoose">
                        {{ errors.email }}
                      </p>
                </div>
            </div>
            </div>

      <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label for="inputPassword" class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
                <div class="form-control-wrapper">
                  <input type="password" name='password' class="form-control empty" id="inputPassword" placeholder="Password"><span class="material-input" ng-model='user.password' ng-minlength='3' required mongoose-error></span>
                   <p class="help-block"
                         ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                        Password must be at least 3 characters.
                      </p>
                      <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ errors.password }}
                      </p>
                </div>
            </div>
            </div>
        <br>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.</p>
          <p class="help-block">{{ errors.other }}</p>
        </div>

              <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
                    <button class="btn btn-inverse btn-lg btn-login" type="submit">
                        Sign Up
                      </button>
              
                        <hr>
                      <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
                        <i class="fa fa-google-plus"></i> Connect with Google+
                      </a>
                  </div>

          </fieldset>
      </form>


<div ng-include="'components/footer/footer.html'"></div>



